{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load i18n %}

{% block content %}
<div class="container-fluid no-padding hp">
    <a class="anchor" id="hp"></a>
    <div class="head">
        <h1 class="container claim text-uppercase text-dark">
            {% trans "Constriction" %}.<br />
            {% trans "La risposta alle tue idee di investimento." %}
        </h1>
    </div>
    <div class="container-fluid payload bg-primary text-white">
        <h2 class="text-center">{% trans "Vuoi fare un investimento e non sai come sceglierlo?" %}</h2>
    </div>
    <div class="helpbutton d-flex justify-content-center">
        <a class="text-white btn btn-lg btn-secondary text-uppercase border-2 border-white" href="{% url "home" %}#investments">
            {% trans "Scopri di più" %}
        </a>
    </div>
    <div class="container text-center no-v-padding">
        <p><strong>CONSTRICTION</strong> {% trans "hp intro 1" %}</p>
        <p>{% trans "hp intro 2" %}</p>
    </div>

    <a class="anchor" id="values"></a>
    <div class="container text-center no-v-paddin">
        <h1 class="underlined">{% trans "I nostri valori" %}</h1>
        <div class="container">
            <div class="boxes row row-eq-height">
                <div class="col-12 col-lg-4">
                    <div class="container rounded bg-light text-dark">
                        <div class="rounded-circle text-light bg-dark">
                            <i class="fas fa-hand-holding-usd fa-2x"></i>
                        </div>
                        <h2 class="text-uppercase">{% trans "Indipendenza" %}</h2>
                        <p>{% trans "indipendenza subtitle" %}</p>
                        <p class="text-justify">{% trans "indipendenza text" %}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="container rounded bg-light text-dark">
                        <div class="rounded-circle text-light bg-dark">
                            <i class="fas fa-shield-alt fa-2x"></i>
                        </div>
                        <h2 class="text-uppercase">{% trans "Integrità" %}</h2>
                        <p>{% trans "integrità subtitle" %}</p>
                        <p class="text-justify">{% trans "integrità text" %}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="container rounded bg-light text-dark">
                        <div class="text-primary rounded-circle text-light bg-dark">
                            <i class="fas fa-crown fa-2x"></i>
                        </div>
                        <h2 class="text-uppercase">{% trans "Dedicati all'eccellenza" %}</h2>
                        <p>{% trans "eccellenza subtitle" %}</p>
                        <p class="text-justify">{% trans "eccellenza text" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="anchor" id="numbers"></a>
    <div class="numbers container-fluid no-padding">
        <div class="convex-content container-fluid h-100">
            <div class="row h-100">
                <div class="col-lg-3 col-6 my-auto text-primary">
                    <i class="fas fa-suitcase fa-4x"></i>
                    <div class="big-number">{{ view.count_financial }}</div>
                    <p class="text-uppercase">{% trans "Offerte finanziarie" %}</p>
                </div>
                <div class="col-lg-3 col-6 my-auto text-primary">
                    <i class="fas fa-building fa-4x"></i>
                    <div class="big-number">{{ view.count_realestate }}</div>
                    <p class="text-uppercase">{% trans "Offerte immobiliari" %}</p>
                </div>
                <div class="col-lg-3 col-6 my-auto text-primary">
                    <i class="fas fa-users fa-4x"></i>
                    <div class="big-number">{{ view.count_users }}</div>
                    <p class="text-uppercase">{% trans "Utenti registrati" %}</p>
                </div>
                <div class="col-lg-3 col-6 my-auto text-primary">
                    <i class="fas fa-globe fa-4x"></i>
                    <div class="big-number">{{ view.count_countries }}</div>
                    <p class="text-uppercase">{% trans "Paesi coinvolti" %}</p>
                </div>
            </div>
        </div>
    </div>

    <a class="anchor" id="investments"></a>
    <div class="container-fluid no-padding investments investments-results text-center">
        <div class="container">
            <div><h1 class="underlined">{% trans "Investimenti" %}</h1></div>
                {% include "snippets/investment_filters.html" %}
        </div>
    </div>

    <a class="anchor" id="about-us"></a>
    <div class="container-fluid text-center lightgrey-background no-v-padding">
        <div class="container no-v-padding">
            <h1 class="underlined">{% trans "Chi siamo" %}</h1>
            <div class="container text-center">
                <p>{% trans "about us intro 1" %}</p>
                <p>{% trans "about us list 1" %}</p>
                <p>{% trans "about us list 2" %}</p>
                <p>{% trans "about us list 3" %}</p>
                <p>{% trans "about us end 1" %}</p>
                <p>{% trans "about us end 2" %}</p>
            </div>
        </div>
    </div>

    <a class="anchor" id="partners"></a>
    <div class="container partners text-center no-v-padding">
        <h1 class="underlined">{% trans "Partners" %}</h1>
        <div class="container">
            {% comment %} <p>{% trans "partners_text" %}</p> {% endcomment %}
            <div class="boxes row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img alt="Foodhoue" src="{{STATIC_URL}}images/partner_foodhouse.jpg" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img alt="Secure home" src="{{STATIC_URL}}images/partner_securehome.jpg" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img alt="Real estate" src="{{STATIC_URL}}images/partner_realestate.jpg" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <img alt="Foresthouse" src="{{STATIC_URL}}images/partner_foresthouse.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specificstyles %}{% render_bundle 'hp' 'css' %}{% endblock %}
{% block specificscripts %}{% render_bundle 'hp' 'js' %}{% endblock %}