{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load i18n %}

{% block content %}
<div class="container-fluid no-padding contacts">
    <div class="container">
        <h2>{% trans "Contattaci" %}</h2>
        <form method="post" role="form">
            {% csrf_token %}
            {% if form.subject.errors %}
            <ol role="alertdialog">
                {% for error in form.subject.errors %}
                <li role="alert"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}
    
            {% for field in form %}
            <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary mb-2" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}

{% block specificstyles %}{% render_bundle 'contacts' 'css' %}{% endblock %}
{% block specificscripts %}{% render_bundle 'contacts' 'js' %}{% endblock %}