{% load i18n change_language %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img src="{{ STATIC_URL }}images/logo_name.png" width="211" height="75" class="d-inline-block align-top" alt="" />
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
        aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#home">{% trans "menu_home" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#values">{% trans "menu_values" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#numbers">{% trans "menu_numbers" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#investments">{% trans "menu_investments" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#about-us">{% trans "menu_about" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "home" %}#partners">{% trans "menu_partners" %}</a>
            </li>
        </ul>
        <ul class="navbar-nav lang-menu">
            {% for lang in LANGUAGES %}
                {% with lang.0 as lang_code %}
                    <li class="nav-item{% ifequal lang_code LANGUAGE_CODE %} active{% endifequal %}">
                        <a class="nav-link" href="{% change_language lang_code %}" title="{{ lang.1 }}">
                            {{ lang_code|upper }}
                        </a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
</nav>