{% load imagekit %}

<a href="{% url investment.category slug=investment.slug %}">
    <div class="card h-100 text-left">
        <div class="card-img">
            {% with image=investment.first_image %}
                {% if image %}
                    {% generateimage 'constriction.investments:card' source=image -- alt=investment.title class="rounded" %}
                {% else %}
                    <img class="rounded" src="{{ investment.category_image_url }}" alt="{{ investment.title }}" width="400", height="400" />
                {% endif %}
            {% endwith %}
        </div>
        <div class="card-body">
            <h3 class="card-title text-uppercase">{{ investment.title }}</h3>
        </div>
    </div>
</a>