{% load thumbnail %}

<a href="{% url "investment" slug=investment.slug %}">
    <div class="card h-100 text-left">
        {% thumbnail investment.first_image "400x400" crop="center" as im %}
            <img class="card-img-top rounded" src="{{ im.url }}" alt="{{ investment.title }}" />
        {% empty %}
            <img class="card-img-top rounded" src="{{STATIC_URL}}images/{{investment.category}}.jpg" alt="{{ investment.title }}" />
        {% endthumbnail %}
        <div class="card-body">
            <h3 class="card-title">{{ investment.title }}</h3>
        </div>
    </div>
</a>