{% load i18n %}

{% if is_paginated %}
    <nav aria-label="Pagination" class="col-12">
        <ul class="pagination justify-content-center">
            {% for n in page_obj.paginator.page_range %}
                {% if page_obj.number|add:'-3' == n %}
                    {# First page #}
                    <li class="page"><a href="?page=1">1</a></li>
                    {% if n != 1 %}
                        <li class="page disabled"><a>&#8943;</a></li>
                    {% endif %}
                {% elif page_obj.number == n %}
                    {# Current page #}
                    <li class="page active"><b>{{ n }}</b></li>
                {% elif page_obj.number|add:'-3' < n and n < page_obj.number|add:'3' %}
                    {# Pages around current page #}
                    <li class="page"><a href="?page={{ n }}">{{ n }}</a></li>
                {% elif page_obj.number|add:'3' == n %}
                    {# Last page #}
                    {% if n != page_obj.paginator.num_pages %}
                        <li class="page disabled"><a>&#8943;</a></li>
                    {% endif %}
                    <li class="page"><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}