@import "variables";
$ct-series-colors: (
  $primary,
  $secondary,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
);
@import "~chartist/dist/scss/settings/chartist-settings";
@import "~chartist/dist/scss/chartist.scss";

.ct-point{stroke-width: 0px;}

.legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
 
    li {
        position: relative;
        padding-left: 23px;
        margin-right: 10px;
        margin-bottom: 3px;
        cursor: pointer;
        display: inline-block;
    }
 
    li:before {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }
 
    li.inactive:before {
        background: transparent;
    }
 
    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
}