@import "header";

body { font-family: "neosans", "Verdana", "Geneva", "Tahoma", "sans-serif"; font-size: 125%; scroll-behavior: smooth;}
.border-2 {border-width: 2px;}
a {color: $secondary; }
a.link-unstyled:focus, a.link-unstyled:hover{text-decoration:none; color: $secondary}
.underlined {display: inline-block; margin-top: 1rem; margin-bottom: 0.75rem; position: relative; }
.underlined:after {content: ""; width: 50%; height: 1px; bottom: 0; left: 25%; border-bottom: 1px solid $primary; position: absolute;}
.card-body h3.card-title {color: $darkgrey; font-size: 90%;}
.space-wrap {white-space: normal;}
.row-eq-height { display: flex; flex-wrap: wrap;
    > [class*='col-'] { display: flex; flex-direction: column;
        .container {height: 100%;}
    }
}
.btn-grey {background-color: $grey; color: $white; border-color: $lightgrey; }
.btn-secondary:focus, .btn-secondary:hover{background-color: $blue;}
.card-img {position:relative; overflow:hidden; padding-bottom:100%;
    img{ position:absolute; }
}

.boxes {margin-bottom: 75px;
    .rounded-circle {line-height:90px; height:80px; width:80px; margin: auto; position: relative; bottom: 25px;}
    > [class*='col-'] { margin-bottom: 20px; }
    h2 {    min-height: 75px;}
}
footer { font-size: 80%;
    a, a:focus, a:hover {color: $light;}
    .list-unstyled li{
        :before{content:">"; padding-left: 20px; padding-right: 10px;}
    }
}

.anchor {margin-top: -113px; height: 113px; visibility: hidden;}