@import "basic";
@import "filters";
.head{position: relative; height: 700px; background-image: url("../images/hp_head.jpg?ver2"); background-position: center; background-size: cover;}
.claim { font-size: 125%;}
input.price, input.interest {max-width: 300px;}
.payload {padding-top: 50px; h2 {text-transform: none;}}
.helpbutton .btn {position: relative; top: 25px; }
.values {
    h3 {font-size: 125%;}
    p {font-weight: lighter;}
}
.numbers {
    .convex-content{ height: 800px; background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/hp_curved.jpg"); background-size: cover; position: relative;
        h3 {color: $primary;}
        p {color: $lightgrey;}
        .big-number {font-size: 150%; font-weight: bold; }
    }
}
