@import "basic";
.filters {
    .btn-filtergroup {color: $white; background-color: $grey; }
    .btn-filtergroup.checked {color: $white; background-color: $primary; }
    .btn-filtergroup[aria-expanded="true"] {color: $white; background-color: darken( $primary, 10% ); }
    .btn-filtergroup:focus, .btn-filtergroup.focus{box-shadow: 0 0 0 0;}
    .btn-filtergroup:hover {color: $white;}

    .btn-group-toggle>.btn-filter{ margin: 5px auto;}
    .btn-filter { display: block; max-width: 250px; background-color: $white; color: $darkgrey; border-color: $grey;}
    .btn-filter.active { background-color: $grey; color: $white;}
    .btn-filter:focus, .btn-filter.focus{box-shadow: 0 0 0 0;}

    .btn-submit {width: 100%; max-width: 250px; margin-top: 10px;}

    // Different height and autoscroll for dropdown
    .dropdown-menu {width: 100%; padding: 10px; max-height: 600px; text-align: center; overflow-y: auto;}
    @include media-breakpoint-down(md) { .dropdown-menu { max-height: 250px; }}

    // Removes caret from dropdown
    .dropdown-toggle:after { content: none; }
}

.pagination {
    .page { padding: 0px 10px; list-style: none; display: inline;
        a{color: $grey; }
    }
}