{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block content %}
<div class="container-fluid investments text-center">
    <div class="container">
        <h1>{% trans "Investimenti" %}</h1>
        <p>{% trans "investments_description" %}</p>
    </div>
    {% include "snippets/investment_filters.html" %}
</div>
<div class="container-fluid no-padding investments-results text-center">
    <div class="container">
        <h2 class="underlined"> {% trans "Risultati" %}</h2>
        <div class="row">
            {% for investment in investments %}
                <div class="col-12 col-lg-4 card-wrapper">
                    {% include "snippets/investment_card.html" with investment=investment %}
                </div>
            {% empty %}
                <div class="col-12">
                    <h3>{% trans "Nessun torviamo nessun risultato con i parametri selezionati. Prova a cambiarli."%}</h3>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% include "snippets/pagination.html" with pagination=investments%}
        </div>
    </div>
</div>
{% endblock %}

{% block specificstyles %}{% render_bundle 'investments' 'css' %}{% endblock %}
{% block specificscripts %}{% render_bundle 'investments' 'js' %}{% endblock %}
