{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load i18n thumbnail %}

{% block content %}
<div class="container-fluid no-padding lightgrey-background">
    <div class="container text-center">
        <h1 class="underlined secondary-background lightgrey">{{ investment.title }}</h1>
        <div><h2 class="underlined">{% trans "Descrizione investimento" %}</h2></div>
        <div class="row text-left logo-background">
            <div class="col-xs-12">
                <div class="id-image">
                    {% thumbnail investment.first_image "400x400" as im %}
                        <img class="img-thumbnail rounded float-left" src="{{ im.url }}" alt="{{ investment.title }}" />
                    {% empty %}
                        <img class="img-thumbnail rounded float-left" src="{{STATIC_URL}}images/{{investment.category}}.jpg" alt="{{ investment.title }}" />
                    {% endthumbnail %}
                </div>
                <div>{{ investment.description|safe }}</div>
            </div>
        </div>
        <h2 class="underlined">{% trans "Dettagli investimento" %}</h2>
        <div class="row text-left">
            <div class="col-xs-12 col-md-6">
                <span class="list-group-item">{% trans "Categoria" %}: <span class="badge d-inline space-wrap">{{ investment.get_category_display }}</span></span>
            </div>
            {% comment %}
                <div class="col-xs-12 col-md-6">
                    <span class="list-group-item">{% trans "Sorgente" %}: <span class="badge d-inline space-wrap">{{ investment.get_source_display }}</span></span>
                </div>
            {% endcomment %}
            {% if investment.price is not None %}
                <div class="col-xs-12 col-md-6">
                    <span class="list-group-item">{% trans "Prezzo" %}: <span class="badge d-inline space-wrap">{% blocktrans with price=investment.price currency=investment.currency %}{{price}} {{ currency }}{% endblocktrans %}</span></span>
                </div>
            {% endif %}
            {% if investment.surface is not None %}
                <div class="col-xs-12 col-md-6">
                    <span class="list-group-item">{% trans "Superficie" %}: <span class="badge d-inline space-wrap">{% blocktrans with surface=investment.surface %}{{surface}}mq{% endblocktrans %}</span></span>
                </div>
            {% endif %}
            {% if investment.address is not None %}
                <div class="col-xs-12 col-md-6">
                    <span class="list-group-item">{% trans "Indirizzo" %}: <span class="badge d-inline space-wrap">{{ investment.address }}</span></span>
                </div>
            {% endif %}
            {% comment %}
                {% for key,value in investment.meta.items %}
                    <div class="col-xs-12 col-md-6">
                        <span class="list-group-item">{{ key|capfirst }}: <span class="badge d-inline space-wrap">{{ value }}</span></span>
                    </div>
                {% endfor %}
            {% endcomment %}
            <div class="col-xs-12 col-md-6">
                <a class="list-group-item" href="{{investment.url}}" target="_blank">{% trans "Vai all'investimento" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid no-padding text-center">
    <h2 class="underlined">{% trans "Il mercato di riferimento" %}</h2>
    <div class="container text-left">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>{% trans "Prodotto interno lordo" %}</h3>
                <div class="line-chart ct-golden-section" data-url="{% url 'lines-graph' 'gdp' %}?{{ view.graph_qs }}"></div>
                <div class="legend"></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h3>{% trans "Costo delle case" %}</h3>
                <div class="line-chart ct-golden-section" data-url="{% url 'lines-graph' 'housing' %}?{{ view.graph_qs }}"></div>
                <div class="legend"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block specificstyles %}{% render_bundle 'investment' 'css' %}{% endblock %}
{% block specificscripts %}{% render_bundle 'investment' 'js' %}{% endblock %}