{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load i18n imagekit %}

{% block content %}
<div class="container-fluid lightgrey-background">
    <div class="container text-center">
        <h1 class="underlined secondary-background lightgrey">{{ investment.title }}</h1>
        <a class="btn btn-secondary float-left" href="{% url 'investments' %}">
            <i class="fas fa-angle-left"></i>
            {% trans 'Torna alla ricerca' %}
        </a>
        <div><h2 class="underlined">{% trans "Descrizione investimento" %}</h2></div>
        <div class="row text-left logo-background">
            <div class="col-xs-12">
                <div class="id-image">
                    {% with image=investment.first_image %}
                        {% if image %}
                            {% generateimage 'constriction.investments:detail' source=image -- alt=investment.title class="img-thumbnail rounded float-left" %}
                        {% else %}
                            <img class="img-thumbnail rounded float-left" src="{{ investment.category_image_url }}" alt="{{ investment.title }}"  width="400", height="400" />
                        {% endif %}
                    {% endwith %}
                </div>
                <div>{{ investment.description|safe }}</div>
            </div>
        </div>
        <h2 class="underlined">{% trans "Dettagli investimento" %}</h2>
        <div class="row text-left">
            <div class="col-xs-12 col-md-6">
                <span class="list-group-item">{% trans "Categoria" %}: <span class="badge d-inline space-wrap">{{ investment.get_category_display }}</span></span>
            </div>
            {% block details %}
                {% if investment.price is not None %}
                <div class="col-xs-12 col-md-6">
                    <span class="list-group-item">{% trans "Investimento minimo" %}: <span class="badge d-inline space-wrap">{% blocktrans with price=investment.price.lower currency=investment.currency %}{{price}} {{ currency }}{% endblocktrans %}</span></span>
                </div>
                <div class="col-xs-12 col-md-6">
                    <span class="list-group-item">{% trans "Investimento massimo" %}: <span class="badge d-inline space-wrap">{% blocktrans with price=investment.price.upper currency=investment.currency %}{{price}} {{ currency }}{% endblocktrans %}</span></span>
                </div>
                {% endif %}
                {% if investment.surface is not None %}
                    <div class="col-xs-12 col-md-6">
                        <span class="list-group-item">{% trans "Superficie" %}: <span class="badge d-inline space-wrap">{% blocktrans with surface=investment.surface %}{{surface}}mq{% endblocktrans %}</span></span>
                    </div>
                {% endif %}
                {% if investment.address is not None %}
                    <div class="col-xs-12 col-md-6">
                        <span class="list-group-item">{% trans "Indirizzo" %}: <span class="badge d-inline space-wrap">{{ investment.address }}</span></span>
                    </div>
                {% endif %}
                {% if investment.pricemq is not None %}
                <div class="col-xs-12 col-md-6">
                        <span class="list-group-item">{% trans "Prezzo/mq" %}: <span class="badge d-inline space-wrap">{% blocktrans with pricemq=investment.pricemq currency=investment.currency %}{{ pricemq }}{{ currency }}/mq{% endblocktrans %}</span></span>
                    </div>
                {% endif %}
            {% endblock details %}
            <div class="col-xs-12 col-md-6">
                <a class="btn btn-secondary btn-large btn-cta list-group-item" href="{{ investment.url }}" target="_blank">{% trans "Vai all'investimento" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <h2 class="underlined">{% trans "Il mercato di riferimento" %}</h2>
    <div class="container text-left">
        {% block graphs %}
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>{% trans "Prodotto interno lordo" %}</h3>
                <div class="line-chart ct-golden-section" data-url="{% url 'lines-graph' 'gdp' %}?{{ view.graph_qs }}"></div>
                <div class="legend"></div>
            </div>
        </div>
        {% endblock graphs %}
    </div>
</div>
{% endblock %}
{% block specificstyles %}{% render_bundle 'investment' 'css' %}{% endblock %}
{% block specificscripts %}{% render_bundle 'investment' 'js' %}{% endblock %}